
.graphStyle {
    margin: 2px;
    width: 60%;
    border: 2px solid black;
  }

.divTable {
    font-size: 15px;
    margin-top: 70px;
    max-height: 460px;
    max-width: 100%;
    content: relative;
    overflow: auto;
    display: block;
    table-layout: auto;
    /* width:; */

}

.table {
    max-height: 100px;

}

.homeStyle {
    font-size: 15px;
    max-width: 80%;
    position: center;
    margin-left: 10%;
}

.trStyle {
    max-width: 0%;
    position: center;
}

