body {
  position: relative;
}
.graphStyle {
    margin: 2px;
    width: 60%;
    border: 2px solid black;
  }

.divTable {
    font-size: 15px;
    /* margin-top: 70px;s */

    max-height: 460px;
    max-width: 100%;
    content: relative;
    overflow: auto;
    display: block;
    table-layout: auto;
}

.table {
    max-height: 100px;

}
.trStyle {
    max-width: 0%;
    position: center;
}

.tdStyle {
    border: 0;
  }


.div1Style {

    position: relative;

  }

.minimumStyle {
    background: #b598a0;
    align-items: center;
    width: 250px;
    height: 200px;
  }

.maximumStyle {
    background: #b0d3f7;
    width: 250px;
    height: 200px;
  }

.averageStyle {
    background: #f5ebbf;
    width: 250px;
    height: 200px;
  }

.totalVendors {
  background:#eee;
  width: 250px;
  height: 200px;
}

.priceStyle {
width: 550px;
/* height: 17%; */
  }


  .divVendors {
width: 250px;
min-height: 250px;
float: left;
  }

.divAverage {
width: 250px;
height: 250px;
float: right;
  }

.divMinimum {
width: 250px;
height: 250px;
float: left;
  }

.divMaximum {
  width: 250px;
  height: 250px;
  float: right;
}

.dateStyle {
  margin-left: 20px;
  margin-top: 20px;
  display: block;
  top: 34px;
  left: 0px;
}
  .btnStyle{
    margin: 20px;
    width: 320px;
    margin-left: 120px;
    margin-top: 220px;
  }

  .inputStyle{
    border: 2px solid #007B;
    color: pink;
    font-family: inherit;
  }
.login{
  color: #007bff !important;
}
.login-btn{
  background-color: #007bff !important;
}
.triggerTable{
  content: relative;
    overflow: auto;
    display: block;
    table-layout: auto;
    min-height: 500px;
}

.headerStyle{
  background-color:#e9ecef;
}

.tableStyle{
margin-bottom: 10px;

}

.mainStyle{
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;    /* Footer height */
  font-size: 15px;
  max-width: 80%;
  position: center;
  margin: auto;
}

#footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;            /* Footer height */

  background-color: #e9ecef !important;
  color:#007B !important;
}
a:hover {
  text-decoration: none !important;
  color: #003c7c !important;
}
.navbar a {
  padding: .5rem 1rem
}
.navbar a.active {
  background-color: #ccc;
  border-radius: 4px;
  color: #003c7c;
}

/* Login Page CSS ===========================================================================================
============================================================================================================= */
.main-home{
  min-height: 100vh;
}
.login{
  width: 65%;
  height: 73%;
  margin-top: 90px;
  margin-bottom: 90px;
  box-shadow: 0px 1px 2px 3px #dfdfdf;
}

.login > div >img{
  margin-left: 10%;
  width:90%;
}
.right-logo{
  position: relative;
}
.right-side{
  width: 50% ;
  position: absolute;
  top: 30%;
  left: 25%;
}
.right-side > img{
  max-width: 100%;
}
.main-home{
  background-color: #10A1E5;
}
.inner-login{
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 35px;
}
.login-btn{
  width: 60%;
  color: white !important;
  margin-left: 15%;
  margin-top: 40px;
  border-radius: 7px;
  background-color: #10A1E5 !important;
}
.login-form > div > .input-field{
  color: #ababab;
  border-color: #d0d0d0;
  margin-top: 40px;
}
.login-form > div> input::placeholder {
  color: #ababab;
}
